<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"
>
  <head>
    <title th:text="${loggedInUser.name}+' | Dashboard'">Dashboard</title>
  </head>
  <body>
    <div id="content" class="container pt-5">
      <div class="row justify-content-center pt-5">
        <div class="col-md-8 col-lg-6">
          <div class="card shadow-lg">
            <div class="card-body text-center">
              <h1>Welcome to Dashboard.</h1>
              <p>You can manage your contacts on cloud</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      console.log("Profile Page");
    </script>
  </body>
</html>
