<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title>About Page</title>
</head>
<body>

    <div id="content" class="d-flex justify-content-center align-items-center">
        <div class="col-md-6 mt-5 text-center">
            <div th:replace="~{message :: message}"></div>
            <h1>Email not Verified!! Something went wrong</h1>
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
    </div>

    <script>
        console.log("About Page");
    </script>

</body>
</html>